@import "tailwindcss";

@plugin "daisyui" {
  themes:
    winter --default,
    night --prefersdark;
}

@layer utilities {
  /* HTMX loading states */
  .htmx-indicator {
    display: none;
  }

  .htmx-request .htmx-indicator {
    display: inline-block;
  }

  .htmx-request .hide-during-request {
    display: none !important;
  }
}
