package view

templ Hello(name string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Vibefeeder</title>
			<link rel="stylesheet" href="/static/css/main.css"/>
			<script defer src="/static/js/htmx.min.js"></script>
			<script defer src="/static/js/alpine.min.js"></script>
		</head>
		<body>
			<h1>Hello, { name }!</h1>
		</body>
	</html>
}
