package view

import (
	"fmt"
	"github.com/tjanas94/vibefeeder/internal/summary/models"
)

// Error renders the summary error component (debug version)
templ Error(vm models.SummaryErrorViewModel) {
	<h3 id="summary-modal-title" class="font-bold text-lg mb-4">Summary error</h3>
	<div class="p-4">
		<h4 class="text-xl font-bold mb-4">internal/summary/view/error.templ (DEBUG)</h4>
		<pre>{ fmt.Sprintf("%+v", vm) }</pre>
	</div>
}
